@model List<CourtRowModel>


@{
    ViewData["Title"] = "Courts administration";
    int counter = 1;
}

<div class="row">
    <div class="mb-3">
        <table class="table table-hover">
            <thead class="fw-bold">
                <tr>
                    <th>#</th>
                    <th>Name</th>                    
                    <th>@*Buttons*@</th>                    
                </tr>            
            </thead>
            <tbody>            
                @foreach(CourtRowModel courtData in Model)
                {
                    <tr>
                        <td>@counter</td>
                        <td>@courtData.Name</td>                       
                        <td>      
                            <div class="d-inline-block">
                                <a class="btn btn-primary" asp-action="CourtDetails" asp-route-id="@courtData.Id">Edit</a>      
                            </div>
                            <div class="d-inline-block">
                                 <form method="post" asp-action="DeleteCourt" asp-route-id="@courtData.Id">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>  
                            </div>                             
                                                                                    
                        </td>                       
                        @{
                            counter++;
                        }
                    </tr>
                }     
            </tbody>
        </table>
    </div>    
    <div>
        <a asp-action="CreateCourt" class="btn btn-primary">Add Court +</a>
    </div>
</div>