@model List<UserRowModel>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Users administration";
    int counter = 1;
}

<div class="row">
    <table class="table table-hover">
        <thead class="fw-bold">
            <tr>
                <th>#</th>
                <th>Id</th>
                <th>First name</th>                
                <th>Last name</th>
                <th>Address</th>
                <th>Email</th>
                <th>BirthDate</th>
                <th></th>
            </tr>            
        </thead>
        <tbody>
            <tr>

            </tr>
            @foreach(UserRowModel userData in Model)
            {
                <tr>
                    <td>@counter</td>
                    <partial name="_UserDataPartial" model=@userData />
                    @{
                        counter++;
                    }
                </tr>
            }     
        </tbody>
    </table>
</div>