html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

input.input-validation-error{
    border-color: red;
}

button.square{
    width: 20px;   
    padding: 0px;
}

.hidden {
    display: none;
}

div.box.missingSlot {
    background-color: lightslategray;
}

:checked + label.cb-label div.box {
    background-color: yellow;
}

div.box.slotTaken {
    background-color: red;
}

div.box {
    background-color: greenyellow;
    height: 50px;
    width: 100px;
    border: 1px solid black;
    text-align: center;
    padding: 12px 0;
}


