html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

input.input-validation-error{
    border-color: red;
}

button.square{
    width: 20px;   
    padding: 0px;
}

.hidden {
    display: none;
}

:checked + label.cb-label div.box{
    background-color: lawngreen;
}

:disabled + label.cb-label div.box {
    background-color: dimgray;
}

div.box {
    background-color: red;
    height: 25px;
    width: 40px;
    border: 1px solid black;
}
