html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

input.input-validation-error{
    border-color: red;
}

button.square{
    width: 20px;   
    padding: 0px;
}

label.cb-label div{
    background-color: red;   
}

:checked + label.cb-label div{
    background-color: lawngreen;
}

div.box{   
    height: 25px;
    width: 40px;   
    border: 1px solid black;   
}
