@model AvailabilityPageModel

@{
	ViewData["Title"] = "View available slots";
}

<h3 class="mb-3">@ViewData["Title"]</h3>
<div class="row">
	<div class="col-4">
		<div class="mb-3">
			<label class="form-label">Please select a date:</label>
			<input asp-for="Today" class="form-control" id="dateSelector"/>
		</div>
	</div>
</div>
<div class="row">
	<table class="table text-nowrap">
		<thead>
			<tr id="slotTableHeadRow">
				<th>@*leaving space*@</th>
			</tr>
		</thead>
		<tbody id="slotTableBody">
		</tbody>
	</table>
</div>

@section Scripts{
	<script>
		$(function(){
			const slotTableHeadRow = document.getElementById('slotTableHeadRow');
			const slotTableBody = document.getElementById('slotTableBody');

			//we create the headers
			for(let i=0; i<3; i++){
				let newTh = document.createElement('th');
				newTh.innerText = 'Campo #'+i;
				slotTableHeadRow.appendChild(newTh);
			}

			//we create the rows
			for(let hour=6; hour<24; hour++){
				//we creat a new row
				var newRow = document.createElement('tr');	//need to be var for scope reasons				
				
				//the first element we add to the row is the slot timespan
				let hourTd = document.createElement('td');
				hourTd.innerText = ('0'+hour).slice(-2) + ':00-' + ('0'+(hour+1)).slice(-2) + ':00';
				newRow.appendChild(hourTd);

				//foreach column we add a new td to the row
				for(let court=0; court<3; court++){					 
					let id = court*24 + hour;

					let slotTd = document.createElement('td');

					//we create a "box checkbox"
					let outerDiv = document.createElement('div');
					
					let checkBox = document.createElement('input');
					checkBox.type = 'checkbox';
					checkBox.className = 'hidden';
					checkBox.id = 'cb'+id;					
					
					let label = document.createElement('label');
					label.className = 'cb-label';
					label.htmlFor = checkBox.id;

					let boxDiv = document.createElement('div');
					boxDiv.className = 'box';

					label.appendChild(boxDiv);
					outerDiv.appendChild(checkBox);
					outerDiv.appendChild(label);
					
					//we append it to the TD
					slotTd.appendChild(outerDiv);
					//slotTd.innerHTML = '<div><input type="checkbox" class="hidden" id="cb'+id+'"/><label class="cb-label" for="cb'+id+'"><div class="box"></div></label></div>';					
					
					//and we append the TD to the row
					newRow.appendChild(slotTd);
				}

				//we finally add the row to the body
				slotTableBody.appendChild(newRow);
			}
		})
	</script>
}