@model AvailabilityPageModel

@{
	ViewData["Title"] = "View available slots";
}

<h3 class="mb-3">@ViewData["Title"]</h3>
<!form method="post" action="/reservations/checkout" name="form1">		
</!form>
<div class="row">
	<div class="col-4">
		<div class="mb-3">
			<label class="form-label">Please select a date:</label>
			<input asp-for="Today" class="form-control" id="dateSelector"/>
		</div>
	</div>
</div>
<div class="row">
	<table class="table text-nowrap">
		<thead>
			<tr id="slotTableHeadRow">
				<th>@*leaving space*@</th>
			</tr>
		</thead>
		<tbody id="slotTableBody">
		</tbody>
	</table>
</div>
<button type="button" id="submit-button" class="btn btn-primary">Continue ></button>



@section Scripts{
	<script>
		$(function(){	

			$('#dateSelector').change(function(){
				fetchAvailabilityData();				
			});

			//fetchAvailabilityData();
			$('#dateSelector').trigger('change');			

			$('#submit-button').click(function(){
				const checkedElems = $(':checked').get();
				const checkedElemsLength = checkedElems.length;

				//we submit only if we have at least 1 selection
				if(checkedElemsLength > 0){

					for(let i=0; i<checkedElemsLength; i++){
						let slotId = checkedElems[i].dataset.slotid;
						
						let inputElem = document.createElement('input');
						inputElem.type = 'hidden';
						inputElem.name = 'SlotIds';
						inputElem.value = slotId;

						document.form1.appendChild(inputElem);
					}

					document.form1.submit();
				}
				else{
					alert('Please select at least one slot !');
				}
				
			});
		})

		function fetchAvailabilityData(){
			//we first fetch the courts and build an empty table
			$.ajax({
				type: 'GET',
				url: '/api/courts',
				dataType: 'json',
				success: function(result){
					//we create a full disabled table
					buildDisabledTable(result);		//we could've also put this call inside the next ajax 'success' function

					//we then fetch the availability data 
					const date = document.getElementById('dateSelector').value;
					
					$.ajax({
						type: 'GET',
						url: '/api/availability?date='+date,
						dataType: 'json',
						success: function(result){
							const numEntries = result.length;

							for(let i = 0; i < numEntries; i++){
								let id ='court'+result[i].courtId+'slot'+result[i].daySlot;
								let isAvailable = result[i].isAvailable;

								let divBox = document.getElementById('box-'+id);
								divBox.innerText = result[i].price.toLocaleString('it-IT', { maximumFractionDigits: 2, minimumFractionDigits: 2 }) + ' €';
								divBox.className = 'box';	//we remove the missingSlot class
								
								if(isAvailable){
									let checkBox = document.getElementById('cb-'+id);
									checkBox.disabled = false; 
									checkBox.dataset.slotid = result[i].id;
								}
								else{
									let checkBox = document.getElementById('cb-'+id);									
									checkBox.dataset.slotid = result[i].id;

									divBox.classList += ' slotTaken';
								}
								
							}
						}
					})
				}
			});
		}

		function buildDisabledTable(courts){
			const courtsNr = courts.length;
			const slotTableHeadRow = document.getElementById('slotTableHeadRow');
			const slotTableBody = document.getElementById('slotTableBody');

			//we clear the previous body and head
			slotTableBody.innerHTML = "";
			slotTableHeadRow.innerHTML = "<th></th>";		//we init with an empty TH

			//we create the headers 		
			for(let i=0; i<courtsNr; i++){
				let newTh = document.createElement('th');
				newTh.innerText = courts[i].name;
				slotTableHeadRow.appendChild(newTh);
			}

			//we create the rows
			for(let hour=6; hour<24; hour++){
				//we creat a new row
				var newRow = document.createElement('tr');	//need to be var for scope reasons				
				
				//the first element we add to the row is the slot timespan
				let hourTd = document.createElement('td');
				hourTd.innerText = ('0'+hour).slice(-2) + ':00-' + ('0'+(hour+1)).slice(-2) + ':00';
				newRow.appendChild(hourTd);

				//foreach column we add a new td to the row
				for(let i=0; i<courtsNr; i++){					 
					let id = 'court'+courts[i].id+'slot'+hour;
					let slotTd = document.createElement('td');

					//we create a "box"
					let outerDiv = document.createElement('div');					
					//we create a hidden checkbox...
					let checkBox = document.createElement('input');
					checkBox.type = 'checkbox';
					checkBox.className = 'hidden';
					checkBox.id = 'cb-'+id;					
					checkBox.disabled = true;	//and we initially set it to disabled


					//...and its label
					let label = document.createElement('label');
					label.className = 'cb-label';
					label.htmlFor = checkBox.id;

					let boxDiv = document.createElement('div');
					boxDiv.id = "box-"+id;
					boxDiv.className = 'box missingSlot';

					label.appendChild(boxDiv);
					outerDiv.appendChild(checkBox);
					outerDiv.appendChild(label);
					
					//we append it to the TD
					slotTd.appendChild(outerDiv);
					//slotTd.innerHTML = '<div><input type="checkbox" class="hidden" id="cb'+id+'"/><label class="cb-label" for="cb'+id+'"><div class="box"></div></label></div>';					
					
					//and we append the TD to the row
					newRow.appendChild(slotTd);
				}

				//we finally add the row to the body
				slotTableBody.appendChild(newRow);
			}

		}
	</script>
}