@{
	ViewData["Title"] = "Reservation pending";
}

<h4 style="color: orange">Reservation pending</h4>
<p>Your reservation is pending. We are currently experiencing problems communicating with Paypal servers.</p>
