@model UserModel

@{
    ViewData["Title"] = "User details";
    string id = (string?) Context.Request.RouteValues["id"] ?? "";
}

<h3>@ViewData["Title"]</h3>
<div class="row">
    <div class="col-4">        
        <form method="post" asp-route-id="@id">    @*asp-route-id="@Context.Request.RouteValues["id"]"  <-- this can be avoided, it defaults to the GET request values*@   
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control"/>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="BirthDate"></label>
                <input asp-for="BirthDate" class="form-control"/>
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-lg btn-primary">Update</button>
        </form>
        <div class="mt-3">
            <a asp-action="EditPassword" asp-route-id="@id">Click here to edit your password</a>
        </div>

    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

