@model RegisterUserModel

@{
    ViewData["Title"] = "Register new user";
}

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-returnurl="@Context.Request.Query[QueryFieldsNames.ReturnUrl]">
            <h3>Create a new account</h3>           
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="FirstName" class="form-control" autocomplete="given-name" />
                <label asp-for="FirstName"></label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="LastName" class="form-control" autocomplete="family-name"/>
                <label asp-for="LastName"></label>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Email" class="form-control" autocomplete="email" />
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Address" class="form-control" autocomplete="street-address" />
                <label asp-for="Address"></label>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="BirthDate" class="form-control" autocomplete="bday" />
                <label asp-for="BirthDate"></label>
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Password" class="form-control" autocomplete="new-password" />
                <label asp-for="Password"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
             <div class="form-floating">
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" />
                <label asp-for="ConfirmPassword"></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
