@model OnlyEmailModel

@{
    ViewData["Title"] = "Resend confirmation email";
}

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-returnurl="@Context.Request.Query[QueryFieldsNames.ReturnUrl]">
            <h3>@ViewData["Title"]</h3>           
            
            <div class="form-floating">
                <input asp-for="Email" class="form-control" autocomplete="email" />
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            
            <button type="submit" class="w-100 btn btn-lg btn-primary">Send confirmation email</button>
        </form>
    </div>   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
